body
{
    background: #ff00b3;
}
h1{
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

h4
{
    color:rgb(0, 47, 255);
}

#camera
{
    width: 500px;
    height: 400px;
    border:1px solid rgb(255, 0, 157);
}

img
{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgb(0, 47, 255);
}

.column
{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}
.copy_right_footer {
    position: fixed;
    color: #ff0095;
    bottom: 0;
    width: 100%;
    background-color:blue;
    line-height: 3;
    text-align: center;
 }